.product_cards{
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 1.2em;
    margin: 1em;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    max-width: 1200px;
    flex-wrap: wrap;
}

.product_cards_images{
    width: 330px;
    height: 250px;
}